@include media-breakpoint-up(md) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-expand-md .navbar-collapse {
        flex-basis: max-content;
    }
    .navbar-collapse {
        flex-grow: 0;
    }
}