body {
    font-family: "Lora", serif;
}
nav li {
    font-size: 1.4rem;
}
h1 {
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    font-weight: 550;
    color: #3E4238;
}

.banner li {
    font-size: 1.2rem;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
}